<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://1git.sogou-inc.com/ReadingAppDev/package/raw/master/ios/package/5.6.1/inhouse/sogoureader.ipa_5.6.1.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://2git.sogou-inc.com/ReadingAppDev/package/raw/master/ios/icon/%E6%90%9C%E7%8B%97%E9%98%85%E8%AF%BB_Logo_iOS_2.2_57.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://3git.sogou-inc.com/ReadingAppDev/package/raw/master/ios/icon/%E6%90%9C%E7%8B%97%E9%98%85%E8%AF%BB_Logo_iOS_2.2_1024.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>com.sogou.sogoureaderinhouse</key>
                <string>com.sogou.sogoureaderinhouse</string>
                <key>5.6.1</key>
                <string>5.6.1</string>
                <key>kind</key>
                <string>software</string>
                <key>搜狗阅读</key>
                <string>搜狗阅读iOS</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
